.product {
  display: grid;
  grid-template-columns: 70% 30%;
}

.productInfo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.imageContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-right: 100px;
  position: relative;
  height: 400px;
}
