.heading {
  margin-bottom: 80px;
}

.itemsTableContainer {
  margin-bottom: 40px;
}

.total {
  align-self: flex-end;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 40px;
}

.checkoutButton {
  align-self: flex-end;
}
