.heroSection {
  height: 900px;
  background-image: url('../../public/hero.jpg');
  background-size: cover;
  background-position: bottom -60px right 0;
  color: #ffffff;
  padding: 200px 0 100px 0;
  margin-bottom: 60px;
}

.slogan {
  font-size: 5em;
  font-weight: 500;
  display: block;
  max-width: 60%;
  margin-bottom: 200px;
}
