.productsList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productsListItem {
  width: 320px;
  margin-bottom: 50px;
}

.productCard:hover .productImageContainer {
  box-shadow: rgba(50, 50, 105, 0.15) 3px 5px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.productImageContainer {
  width: 100%;
  display: block;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  margin-bottom: 10px;
}

.productDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productName {
  font-size: 1.1em;
}

.price {
  font-weight: 500;
}
