.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.product {
  display: grid;
  grid-template-columns: 70% 30%;
}

.productInfo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.imageContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-right: 100px;
  position: relative;
  height: 400px;
}

.actionButton {
  background-color: #f95738;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1.4em;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
